<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
  </head>

  <body>

  <%= yield %>
<!--     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <p id="race-link">You will be running <a href="http://www.franklinparkcoalition.org/turkey-trot-5k/">Franklin Park Turkey Trot on Nov 26!</a></p>

    <%= week_calendar number_of_weeks: 7, events: @sessions do |date, sessions| %>
      <%= date %>

      <% sessions.each do |session| %>
        <div>
          <%= session.name %>
        </div>
      <% end %>

    <% end %>

  </body>
</html>

